    * {
    font-family: monospace;
}

body {
    margin: 0;
    height: 100%;
}

.logo {
    padding-top: 20px;
}

.blackpart {
    background-color: #333333;
}

h1 {
    color: white;
    family-font: 'Arial';
    font-size: 30;
}

p {
    color: #b3b3b3;
    padding-bottom: 50px;
}

h2 {
    font-size: 25px;
}
`
h3 {
    font-size: 15px;
    font-weight: 900;
    color: black;
}

.greypart {
    color: black;
    padding-top: 50px;
    text-align: center;
    background-color: #d9d9d9;
    box-sizing: border-box;
}

a {
    color: deepskyblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.whitepart {
    text-align: left;
}

.rightbox {
    width: 30%;
    display: inline-block;
}

.leftbox {
    width: 50%;
    display: inline-block;
    margin-left: 10%;
}




.beginning {
    text-align: center;
    padding:1% 30% 1% 30%;
    font-size:
}
.wrapper {
    border: black 1px soli;
margin: 0 auto;
    width:90%;
        

}
.wrapper .box1

{
    text-align: center;
    display: inline-block;
    width:20%;
    vertical-align: top;
margin:  20px 5%;
    box-sizing: border-box;
    align-items: center;
}


.wrapper img{
    
    width:150%;
}
.wrapper p{
    text-align: center;
    line-height: 22px;
    padding-left:50px;

}
/* 3rth session*/
h4{
    color:gray;
    text-transform: uppercase;
}
.mainbox{
    border: 1px solid white;
    margin: 5% auto;
    width:70%;
}

ul {
  list-style-type: none;
    color:gainsboro;
}

.left{
   width:70%;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}
.right{
    padding: 0 20px;
    width:15%;
    display: inline-block;
    vertical-align: top;
    height: 90%;
    line-height: 30px;
    border: 1px black sol
}
.left img {
    width: 100%;
    
}

.searchbox_1{
    
    color: orange;
   

}


.search_1{
padding-left:1
border-radius 6px;
border: none;
color: orange;
font-weight:500;
background-color: gainsboro;
     text-align: left;
    padding: 10px 15px;

}

.left  p {
    width: 90%;
    padding-bottom: 20px;
    color:grey;
}
span{
    font-weight: 900;
    font-size: 20px;
    display: inline-block;
    color: black
}

 input.searchquery {
    
    color: orange;
    white-space: 
}