body {
    text-align: center;
    font-family: 'roboto';
}


.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
.container{
    margin: auto;
    max-width: 900px;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
.full{
    width: 100%;
    display:inline-block;
}
.half{
    width: 50%;
    display:inline-block;
}
img{
    float: left;
}
